body
{
  background-color: #E0E0E0 ;
  color: black;

  margin: auto;
  text-align:center;
  font-family: "Courier New", Courier, monospace;
}

fieldset
{
  font-weight: bold;
  text-align: left;
  margin: 0 auto;
  max-width: 320px;
}
legend{
  font-weight: normal;
}

h1
{
  color: #848484;
}

h2
{
  text-align: center;
  color: black
}

#header
{
    color: black;
    font-weight: bold;
    text-decoration: underline;
    display: inline;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

li {
    /*float: left;*/
    display: inline;
}

li a {
    display: inline-block;
    color: #48D1CC;
    margin: 0 auto;
  /*  text-align: center;*/
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #110;
}
input[type=text] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #F5F5F5
}

input[type=password] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #F5F5F5
}
input[type=password]:focus {
    border-color:#333;

}
input[type=text]:focus {
    border-color:#333;

}

input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}
input[type=submit]:hover{
  background-color: #848484
}
